<div class="expansion-wrapper">
  <div class="title-toggle">
    <span class="title">recent transitions</span>
    <mat-slide-toggle>Hide Completed</mat-slide-toggle>
  </div>

  <div class="expansion">
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="title">
            <span class="title-text">UI/UX Designer</span>
            <img src="/assets/svg/Raggruppa 3177.svg" alt="" />
          </div>
        </mat-panel-title>

        <mat-panel-description>
          <div class="description">
            <span class="text-1">My Role</span>
            <span class="text-2">Creator</span>
          </div>
        </mat-panel-description>

        <mat-panel-description>
          <div class="description status-desc">
            <span class="text-1">Status</span>
            <div class="status">
              <span class="status-text">ready to be concluded</span>
            </div>
          </div>
        </mat-panel-description>

        <mat-panel-description>
          <div class="description">
            <span class="text-1">Days to go</span>
            <span class="text-2">26</span>
          </div>
        </mat-panel-description>

        <mat-panel-description class="comment-panel">
          <div class="comment">
            <span class="text">15</span>
            <img src="/assets/svg/Tracciato 1301.svg" alt="" />
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <hr />
      <div class="expansion-contnet">
        <div class="row-1">
          <div class="description expansion-open-description">
            <span class="text-1">Creator</span>
            <span class="text-2">John Adams</span>
          </div>

          <div class="description expansion-open-description">
            <span class="text-1">Collaborator(s)</span>
            <span class="text-2">Nishant Mehra | Lu Shih</span>
          </div>

          <div class="description expansion-open-description">
            <span class="text-1">transitor</span>
            <span class="text-2">Sammy Jo</span>
          </div>

          <div class="description expansion-open-description">
            <span class="text-1">transitee(s)</span>
            <span class="text-2">Vladimir Nikolsky</span>
          </div>

          <div class="button-wrapper">
            <img src="/assets/svg/Raggruppa 3178.svg" alt="" />
          </div>
        </div>

        <div class="row-2">
          <span class="row-2-text">completion percentage</span>

          <hr />

          <span class="percentage">100%</span>

          <div class="button-wrapper">
            <img src="/assets/svg/Raggruppa 3179.svg" alt="" />
          </div>
        </div>

        <div class="row-3">
          <div class="description expansion-open-description">
            <span class="text-1">Tasks</span>
            <span class="text-2">26</span>
          </div>

          <div class="description expansion-open-description">
            <span class="text-1">knowledge transefer</span>
            <span class="text-2">12</span>
          </div>

          <div class="description expansion-open-description">
            <span class="text-1">production parallel</span>
            <span class="text-2">6</span>
          </div>

          <div class="description expansion-open-description">
            <span class="text-1">LIVE EXECUTION</span>
            <span class="text-2">N/A</span>
          </div>

          <div class="button-wrapper">
            <img src="/assets/svg/Raggruppa 3180.svg" alt="" />
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="expansion expansion-2">
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="title">
            <span class="title-text">Tech Lead</span>
            <img src="/assets/svg/Raggruppa 3177.svg" alt="" />
          </div>
        </mat-panel-title>

        <mat-panel-description>
          <div class="description">
            <span class="text-1">My Role</span>
            <span class="text-2">Collaborator</span>
          </div>
        </mat-panel-description>

        <mat-panel-description>
          <div class="description status-desc">
            <span class="text-1">Status</span>
            <div class="status">
              <span class="status-text">production parallel</span>
            </div>
          </div>
        </mat-panel-description>

        <mat-panel-description>
          <div class="description">
            <span class="text-1">Days to go</span>
            <span class="text-2">26</span>
          </div>
        </mat-panel-description>

        <mat-panel-description class="comment-panel">
          <div class="comment">
            <span class="text">15</span>
            <img src="/assets/svg/Tracciato 1301.svg" alt="" />
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <hr />
      <div class="expansion-contnet">
        <div class="row-1">
          <div class="description expansion-open-description">
            <span class="text-1">Creator</span>
            <span class="text-2">John Adams</span>
          </div>

          <div class="description expansion-open-description">
            <span class="text-1">Collaborator(s)</span>
            <span class="text-2">Nishant Mehra | Lu Shih</span>
          </div>

          <div class="description expansion-open-description">
            <span class="text-1">transitor</span>
            <span class="text-2">Sammy Jo</span>
          </div>

          <div class="description expansion-open-description">
            <span class="text-1">transitee(s)</span>
            <span class="text-2">Vladimir Nikolsky</span>
          </div>

          <div class="button-wrapper">
            <img src="/assets/svg/Raggruppa 3178.svg" alt="" />
          </div>
        </div>

        <div class="row-2">
          <span class="row-2-text">completion percentage</span>

          <hr />

          <span class="percentage">100%</span>

          <div class="button-wrapper">
            <img src="/assets/svg/Raggruppa 3179.svg" alt="" />
          </div>
        </div>

        <div class="row-3">
          <div class="description expansion-open-description">
            <span class="text-1">Tasks</span>
            <span class="text-2">26</span>
          </div>

          <div class="description expansion-open-description">
            <span class="text-1">knowledge transefer</span>
            <span class="text-2">12</span>
          </div>

          <div class="description expansion-open-description">
            <span class="text-1">production parallel</span>
            <span class="text-2">6</span>
          </div>

          <div class="description expansion-open-description">
            <span class="text-1">LIVE EXECUTION</span>
            <span class="text-2">N/A</span>
          </div>

          <div class="button-wrapper">
            <img src="/assets/svg/Raggruppa 3180.svg" alt="" />
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="expansion expansion-3">
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="title">
            <span class="title-text">HR Manager</span>
            <img src="/assets/svg/Raggruppa 3177.svg" alt="" />
          </div>
        </mat-panel-title>

        <mat-panel-description>
          <div class="description">
            <span class="text-1">My Role</span>
            <span class="text-2">Transitor</span>
          </div>
        </mat-panel-description>

        <mat-panel-description>
          <div class="description status-desc">
            <span class="text-1">Status</span>
            <div class="status">
              <span class="status-text">Knowledge Transfer</span>
            </div>
          </div>
        </mat-panel-description>

        <mat-panel-description>
          <div class="description">
            <span class="text-1">Days to go</span>
            <span class="text-2">26</span>
          </div>
        </mat-panel-description>

        <mat-panel-description class="comment-panel">
          <div class="comment">
            <span class="text">15</span>
            <img src="/assets/svg/Tracciato 1301.svg" alt="" />
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <hr />
      <div class="expansion-contnet">
        <div class="row-1">
          <div class="description expansion-open-description">
            <span class="text-1">Creator</span>
            <span class="text-2">John Adams</span>
          </div>

          <div class="description expansion-open-description">
            <span class="text-1">Collaborator(s)</span>
            <span class="text-2">Nishant Mehra | Lu Shih</span>
          </div>

          <div class="description expansion-open-description">
            <span class="text-1">transitor</span>
            <span class="text-2">Sammy Jo</span>
          </div>

          <div class="description expansion-open-description">
            <span class="text-1">transitee(s)</span>
            <span class="text-2">Vladimir Nikolsky</span>
          </div>

          <div class="button-wrapper">
            <img src="/assets/svg/Raggruppa 3178.svg" alt="" />
          </div>
        </div>

        <div class="row-2">
          <span class="row-2-text">completion percentage</span>

          <hr />

          <span class="percentage">100%</span>

          <div class="button-wrapper">
            <img src="/assets/svg/Raggruppa 3179.svg" alt="" />
          </div>
        </div>

        <div class="row-3">
          <div class="description expansion-open-description">
            <span class="text-1">Tasks</span>
            <span class="text-2">26</span>
          </div>

          <div class="description expansion-open-description">
            <span class="text-1">knowledge transefer</span>
            <span class="text-2">12</span>
          </div>

          <div class="description expansion-open-description">
            <span class="text-1">production parallel</span>
            <span class="text-2">6</span>
          </div>

          <div class="description expansion-open-description">
            <span class="text-1">LIVE EXECUTION</span>
            <span class="text-2">N/A</span>
          </div>

          <div class="button-wrapper">
            <img src="/assets/svg/Raggruppa 3180.svg" alt="" />
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</div>
