<div class="dashboard-container">
  <div class="dashboard-sidebar-wrapper">
    <app-side-bar></app-side-bar>
  </div>

  <div class="dashboard-header-wrapper">
    <app-header></app-header>
  </div>

  <div class="dashboard-task-add-wrapper">
    <app-task-add></app-task-add>
  </div>

  <div class="dashboard-column-radial-wrapper">
    <app-column-radial></app-column-radial>
  </div>

  <div class="dashboard-line-chart-wrapper">
    <app-line-chart></app-line-chart>
  </div>

  <div class="dashboard-radial-line-wrapper">
    <app-radial-line></app-radial-line>
  </div>

  <div class="dashboard-expansion-wrapper">
    <app-expansion></app-expansion>
  </div>

  <div class="dashboard-recent-tasks-review-wrapper">
    <app-recent-tasks-review></app-recent-tasks-review>
  </div>

  <div class="dashboard-task-approval-rate-wrapper">
    <app-task-approval-rate></app-task-approval-rate>
  </div>
</div>
