<div class="header-wrapper">
  <div class="user-profile">
    <div class="img-wrapper">
      <img src="/assets/svg/Raggruppa 2731.svg" alt="" />
      <span>
        <span>1</span>
      </span>
    </div>
    <div class="user"></div>
  </div>
</div>

<div class="dashboard">
  <span>Dashboard</span>
</div>

<div class="insights-wrapper">
  <div class="header">
    <span>Insights</span>
  </div>
  <div class="info-wrapper">
    <div class="info">
      <div class="info-name">total transitions</div>
      <div class="info-num">15</div>
    </div>

    <div class="info">
      <div class="info-name">INITIATED</div>
      <div class="info-num">2</div>
      <img src="/assets/svg/circle-info.svg" alt="" />
    </div>

    <div class="info">
      <div class="info-name">IN PROGRESS</div>
      <div class="info-num">5</div>
      <img src="/assets/svg/circle-info.svg" alt="" />
    </div>

    <div class="info">
      <div class="info-name">completed</div>
      <div class="info-num">2</div>
      <img src="/assets/svg/circle-info.svg" alt="" />
    </div>
  </div>
</div>

<hr />
