.line-chart-wrapper {
	margin-top: 20px;
	background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 26px #00000008;
	border-radius: 30px;
	padding-top: 20px;
}

#chart {
	position: relative;
}


.chart-title {
	margin: 0 0 10px 20px;
	display: flex;
	gap: 30px;
	position: absolute;
	align-items: center;
	top: -8px;

	hr {
		height: 20px;
		border: 1px solid #80808080;
		border-radius: 50%;
	}

	.title {
		font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-15)/var(--unnamed-line-spacing-50) var(--unnamed-font-family-circular);
		letter-spacing: var(--unnamed-character-spacing-0);
		color: var(--unnamed-color-a3a6b9);
		text-align: center;
		text-transform: uppercase;

	}

	.sortable {
		display: flex;
		gap: 30px;
		align-items: center;

		.sort {
			display: flex;
			gap: 10px;

			span {
				font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-50) var(--unnamed-font-family-circular);
				letter-spacing: var(--unnamed-character-spacing-0);
				color: var(--unnamed-color-05081d);
				text-align: left;
			}

			img {
				width: 13px;
			}
		}
	}
}

.chart-info {
	position: absolute;
	right: 53px;
	width: 50%;
	display: flex;
	justify-content: space-evenly;

	.info {
		position: relative;
		display: flex;
		flex-direction: column;

		img {
			position: absolute;
			top: 2px;
			right: -20px;
		}

		.info-name {
			font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-13) var(--unnamed-font-family-circular);
			letter-spacing: var(--unnamed-character-spacing-0);
			color: var(--unnamed-color-a3a6b9);
			text-align: left;
			text-transform: uppercase;
		}

		.info-num {
			font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-50) var(--unnamed-font-family-circular);
			letter-spacing: var(--unnamed-character-spacing-0);
			color: var(--unnamed-color-05081d);
			text-align: left;
		}
	}
}

.chart-label {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-13) var(--unnamed-font-family-circular);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-a3a6b9);
	text-align: center;
	text-transform: uppercase;
	color: red !important;
}