.add-task-wrapper {
	background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 26px #00000008;
	border-radius: 30px;
	display: flex;
	align-items: center;
	padding: 25px;
	gap: 30px;

	.button-wrapper {
		display: flex;
		justify-content: flex-end;
		width: 58%;

		.button-1 {
			background: var(--unnamed-color-2b0f4d) 0% 0% no-repeat padding-box;
			box-shadow: 0px 3px 16px #0000001A;
			border-radius: 10px;
			height: 51px;
			width: 350px;
			border: none;

			font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-15)/var(--unnamed-line-spacing-50) var(--unnamed-font-family-circular);
			letter-spacing: var(--unnamed-character-spacing-0);
			color: var(--unnamed-color-ffffff);
			text-align: center;
			text-transform: uppercase;
			margin-right: 10px;
		}

		.button-2 {
			background: #F53361 0% 0% no-repeat padding-box;
			box-shadow: 0px 3px 16px #0000001A;
			border-radius: 10px;
			height: 51px;
			width: 350px;

			border: none;

			font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-15)/var(--unnamed-line-spacing-50) var(--unnamed-font-family-circular);
			letter-spacing: var(--unnamed-character-spacing-0);
			color: var(--unnamed-color-ffffff);
			text-align: center;
			text-transform: uppercase;
		}
	}

	.text-wrapper {

		display: flex;
		flex-direction: column;

		.text-1 {
			font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-26)/var(--unnamed-line-spacing-50) var(--unnamed-font-family-circular);
			letter-spacing: var(--unnamed-character-spacing-0);
			color: var(--unnamed-color-05081d);
			text-align: left;
		}

		.text-2 {
			font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-13)/22px var(--unnamed-font-family-circular);
			letter-spacing: var(--unnamed-character-spacing-0);
			color: var(--unnamed-color-a3a6b9);
			text-align: left;
			color: #A3A6B9;
		}
	}
}