<div class="add-task-wrapper">

	<div class="icon-wrapper">
		<img src="/assets/svg/Raggruppa 2999.svg" alt="">
	</div>

	<div class="text-wrapper">
		<span class="text-1">Transition ready to be concluded</span>
		<span class="text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</span>
	</div>

	<div class="button-wrapper">
		<button class="button-1">add other tasks</button>
		<button class="button-2">conclude transition</button>
	</div>
</div>